.default__home {
  background: url("https://www.timeanddate.com/scripts/weather_og.php?h1=Weather&h2=Local%20Weather%20Around%20the%20World");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  height: 100vh;
}

.temperature__home {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5%;
  padding: 15px;

  color: #fff;
  font-size: 52px;

  justify-content: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}
.temperature__home > h1 {
  font-size: 102px;
  font-weight: 900;
}
.temperature__home > h3:hover {
  align-items: center;
  color: red;
  cursor: pointer;
}

.tempIcon__home {
  display: inline-block;
  opacity: 1;
}

.warm {
  background-size: cover;
  height: 100%;
  background-image: url("https://www.daytondailynews.com/resizer/nLUTNyVOLgwRYmKk60MsFqx2zN8=/1066x600/cloudfront-us-east-1.images.arcpublishing.com/coxohio/BIH4JXE4BCZV5ALE3R6M6XC77Q.jpg");
}
.cold {
  background-image: url("https://images.wallpaperscraft.com/image/canada_desert_snow_cold_sky_7039_1600x900.jpg");
  height: 100%;
  background-size: cover;
}
.city__home {
  display: flex;
  justify-content: center;
}
h1,
h2,
h3 {
  text-shadow: 3px 2px rgba(50, 50, 70, 0.5);
  letter-spacing: 0.2rem;
  padding-top: 15px;
}
.input__Home {
  padding: 0.5rem;
}
input[type="text"],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 3px 3px;
}

@media only screen and (max-device-width: 414px) {
  .default__home {
    object-fit: cover;
  }
}
